<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<% @news.each do |new| %>
	<div class="entry">		
		<h3><%= new.title %></h3>
		<%= sanitize new.detail %>
	</div>
<% end %>
<style type=text/css>

 </style>
<script language="JavaScript" type="text/JavaScript" src="http://news.baidu.com/n?cmd=1&class=civilnews&pn=1&tn=newsbrofcu">
</script>
