<h4>Comments list</h4>

<% @comment_line_items.each do |comment_line_item| %>
		<div id="create_time">posted at:<%= comment_line_item.created_at %></div>
	    <div id="comment_content"><%= comment_line_item.cmContent %></div>
	    <hr />
<% end %>
<br />

<%= link_to 'New Comment', new_comment_line_item_path(:product_id => @ID) %>
