body {
	margin:0 auto; font-size: 14px; font-family: serif; line-height: 1.5
}
a:link,a:visited{
 text-decoration:none; color:#1874CD;
}
a:hover{
 text-decoration:underline; color:#8B8B83;
}
ul {
	list-style:none; margin-left:0; padding:0;
}
li {
	border-width: 0 0 1px 0; border-bottom-color:#D3D3CF; border-style:solid;height:73px;
	padding-bottom: 3px; padding-left: 1px; padding-right: 0px; padding-top: 0px;
	list-style-image: none;list-style-position: outside;list-style-type: none;margin-bottom: 0px;margin-left: 0px;
	margin-right: 0px;margin-top: 0px;
}
